 /* All elements selector */
* {
  box-sizing: border-box;
}

/* Grouping selector */
h1, h2 {
  font-family: "JetBrains Mono", sans-serif;
  color: aqua;
}

/*Element selector */
p {
  font-size: 45px;
  color: aquamarine;
}

/* ID selector */
#mytext {
  color: blue;
}

/* Combination: element + class */
p.myclass {color: green;
  background-color: brown;
}



/* Descendant selector */
.mysection .content-1,
.mysection .content-2 {
  color: red;  background-color: lightgreen;
}


/* Adjacent sibling */
h1 + h2 {
  color: yellow;
}

/* Background image section */
.mybg {
  width: 800px;
  height: 800px;
  background-image: url("../images/1904105.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

